*{
    margin:0;
    padding:0;
}

.search{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-0%);
    background-color:#306CB4;
    border: solid 5px;
    border-radius: 15px;
    width: 800px;
    height: 30px;
    -webkit-box-shadow: 1px 3px 2px rgba(50, 50, 50, 0.77);
	-moz-box-shadow:    1px 2px 2px rgba(50, 50, 50, 0.77);
	box-shadow:         1px 3px 2px rgba(50, 50, 50, 0.77);
}

.pokemon_carta{
    width: 187px;
    height: 200px;
    color: #306CB4;
    position: static;
    background-color: #306CB4;
    text-align: center;
    float: left;
    margin: 12px;
    border-radius: 30px;
    border: solid 5px;
    border-color: black;
    -webkit-box-shadow: 2px 7px 5px rgba(50, 50, 50, 0.77);
	-moz-box-shadow:    2px 7px 5px rgba(50, 50, 50, 0.77);
	box-shadow:         2px 7px 5px rgba(50, 50, 50, 0.77);
}

.pokemon_atributos{
    position: absolute;
    background-color: #FFCB05;
    border-radius: 30px;
    height: 80px;
    width: 167px;
    font-family: verdana;
    font-weight: bold;
    font-size: 10px;
    margin: 8px;
    text-align: center;
    border: solid 2px;
    border-color: black;
}

/*---------------------------------------------------------------------*/
/*---------------------------------------------------------------------*/

#fundo{
    background-color: #FFCB05;
}

#txtsearch{
    float: center;
    background-color: transparent;
    font-family: verdana;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    border: none;
    height: 30px;
    color: #FFCB05;
    width: 100%;
    text-align: center;
    border-radius: 15px;
    text-transform: uppercase;
}

#logo{
    width: 322px;
    height: 131px;
    margin-top: 10px;
    position: absolute;
    top:1%;
    left:50%;
    transform: translate(-50%,-0%);
}

#pokes{
    background-color: transparent;
    margin-left: 2.5%;
    width: 95%;
    height: 75%;
    position: absolute;
    top: 30%;
}

/*---------------------------------------------------------------------*/
/*---------------------------------------------------------------------*/

#logo:hover{
    cursor: pointer;
}

.pokemon_carta:hover{
    cursor: pointer;
    border-color:white;
}

.pokemon_atributos:hover{
    border-color:red;
    color: black;
}